:root {
    --primary-text-colour: #757575;
    --footer-address-colour: rgba(255, 255, 255, 0.6);
    --secondary-colour: #212121;
    --accent-colour:  #2196F3;
    --white-accent-colour: #FFFFFF;
    --footer-address-colour: rgba(255, 255, 255, 0.6);
    
}

