:root {
    --primary-text-colour: #757575;
    --footer-address-colour: rgba(255, 255, 255, 0.6);
    --secondary-colour: #212121;
    --accent-colour:  #2196F3;
    --white-accent-colour: #FFFFFF;
    --footer-address-colour: rgba(255, 255, 255, 0.6);
    --bg-secondary-color: #2F303A;
    
}
body {
    font-family: Roboto;
    font-style: normal;
}
ul {
    list-style: none;
}

a{
    text-decoration: none;
    font-style: normal;
}

.logoweb{
    color: var(--accent-colour);
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
}

.logostudio{
    color: #000000;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
}

.main-title{
    color: var(--white-accent-colour);
}
.main-section{
    background-color: var(--bg-secondary-color);
}
.order-button{
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    background: var(--accent-colour);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
footer .logostudio{
    color: #FFFFFF;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
}

.site-nav .link {
    color: var(--secondary-colour);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-colour);
}

.site-nav .link.current {
    color: var(--accent-colour);
}

.header-address .link{
    color: var(--primary-text-colour);
}

.header-address .link:hover,
.header-address .link:focus {
  color: var(--accent-colour);
}

.footer-address .link{
    color: var(--footer-address-colour);
}

footer{
    font-family: Roboto;
    background-color: var(--bg-secondary-color);
    color: #FFFFFF;
    font-style: normal;
}